.contact{
    height: 85vh;
    width: 100vw;
    //background: #2B1EC2;
    //height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    //background: radial-gradient(at center center, #5a4edf 0%, #1c40617c 100%) ;
    background: radial-gradient(at center center, blue 0%, #5592ca7c 100%) ;


    //opacity: 0.9;
}

.btn-toggle{
    background-color: rgb(45, 45, 212); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-family: 'QuickSand', sans-serif;
    border: #ffffff;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

.form-container{
    width: 50%;
    height: 70%;
    //background: yellow;
    display: flex;
    flex-direction: column;

}
.name{
    //background: greenyellow;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    color: #ffffff;
    justify-content: space-around;
}
.input-label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.name-input{
    width: 32%;
    background: transparent;
    font-family: 'Poppons', sans-serif;
    font-size: 15px;
    border: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
}

.msg{
    

}

.text-label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 7px;
    color: #ffffff;
}

.text-input{
    width: 100%;
    height: 280px;
    resize: none;
    border: #ffffff;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    margin-top: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.send-btn{
   // background: crimson;
    width: 40%;
    height: 40px;
    margin-left: 110px;
}

.btn{
    width: 40%;
    height: 40px;
    margin-left: 200px;
    font-size: 22px;
    border: #ffffff;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    background: rgb(32, 204, 195) ;


}