/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
} */


.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.left-side{
  width: 50%;
  padding-top: 30vh;
}

.right-side{
  width: 50%;
}

.red-section{
  background: #e74c3c;
  min-height: 100vh;
}